// Variables for block names

// Footer
$block-c-footer: '.c-footer';

// ----
// FORMS
// ----

// Form
$form: '.c-form-modal';

// Form Group
$block-form-group: '.form-group';

// Buttons
$block-button: '.o-pltz-btn';

// Text Inputs
$block-text-field: '.o-pltz-text-input';

// Textarea
$block-textarea: '.o-pltz-textarea';

// Select
$block-select: '.o-pltz-select';

// Checkbox
$block-checkbox: '.o-pltz-checkbox';

// Radiobutton
$block-radio: '.o-pltz-radio';

// ----
// Icon To Top
// ----

$block-icon-totop: '.o-totop';
