// Слайдер jQuery-ui
.ui-slider {
    cursor: pointer;
    border: 0;
    background: $ui-slider-default-bg;

    &-range {
        border: 0;
        background: $ui-slider-default-range-bg;
    }

    &-disabled {
        cursor: default;
    }
}

.ui-slider-horizontal {

    .ui-slider-handle {
        width: 20px;
        height: 20px;
        margin-top: 2px;
        margin-left: -10px;
        border: 0;
        outline: none;
        border-radius: 50%;
        background: $bg-colored;
        cursor: pointer;

        box-shadow: none;
    }

    &.ui-slider-disabled .ui-slider-handle {
        cursor: default;
        display: none;
    }
}
